.container_div {
  align-content: center;
  height: 500px;
  width:  500px;
  background-color: #e0ecf0;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  text-align: center;
  opacity: 0.8;
  margin: 10px;
}
.container_div p,  .container_div2 a, .container_div2 p{
  font-family: 'montserrat',sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2px;
  color: #aacbff;
}
.container_div2 {
  align-content: center;
  height: 217px;
  width:  500px;
  background-color: #e0ecf0;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  text-align: center;
  opacity: 0.8;
  margin: 10px;
}
.container_div2 h5 {
  font-family: 'montserrat',sans-serif;
  letter-spacing: 2px;
  border-radius: 15px;
  margin: 0px;
  background-color: #a6e6fc
}
.menu {
  margin: 15px;
}
#page_div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
p,h1, h2, a, nav, button{
  font-family: 'montserrat',sans-serif;
  letter-spacing: 2px;
  color: white;
}
button{
  margin: 7px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  border: 3px solid #83f790;
  border-radius: 30px;
  background-color: inherit;
}
nav a {
  margin: 7px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  border-left: 3px solid #83f790;
  border-right: 3px solid #83f790;
  background-color: inherit;
}
button:hover, nav a:hover {
  background-color : #83f790;
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
}
body {
  background-color: #bdebf9;
  background-image: url(http://wallpapercave.com/wp/9ETYnmB.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
